/* selector universal, sirve por ejemplo, para formatear los margenes */

/*
como invocar

id #
clases .

header... asi nomas
*/


*{
    margin: 0;
    padding: 0;
    list-style: none;
}


/* esto es un comentario*/  
header{
    margin: 20px auto;
    position: relative;
    background: #444;
    height: 120px;
    width: 1000px;
}
 
#logo1 {
    position: absolute;
    top:30px;
    left: 30px;
    width: 150px;
    height: 40px;
    background-color: green;
    border: 10px solid orange;
    font-family: 'Pacifico', cursive;
    
}

#onda {
    position: absolute;
    color: white;
    margin: 10px auto;
    margin-left: 25px;
    }



.redes {
    position: absolute;
    top: 30px;
    width: 42px;
    height:42px;
    background: #000;
    border-radius: 100%;
}

#icono1 {
    top: 42px;
    right: 120px;
    background: red;
}

#icono2 {
    top: 42px;
    right: 71px;
    background: red;
}

#icono3 {
    top: 42px;
    right: 19px;
    background: red;
}



#top {
    position: relative;
    margin: 20px auto;
    background: #888;
    height: 192px;
    width: 1000px;
}

section {
    position: relative;
    margin: auto;
    background: #aaa;
    height: 453px;
    width: 1000px;
}

/*aside{
    margin: 20px auto;
    position: relative;
    background: #444;
    height: 120px;
    width: 1000px;
}
*/

nav {
    position: relative;
    margin: auto;
    background: #aaa;
    height: 48px;
    width: 1000px;
}



.botones {
    /*position: absolute;*/
    float: left; /*convierte de horizontal a vertical */
    margin: 0px 2px;
    margin-top: 10px;
    width: 196px;
    height: 20px;
    background: orange;
}

a .botones:hover {
    background: rgba(100,0,255,.4);
    }

a .botones:active {
    background: rgba(255,0,100,1);
     }


#top ul li {
    float: left;
    width: 180px;
    height: 420px;
    top: 192px;
    background: red;
    margin-right: 20px;
}

aside#izq {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 453px;
    }

aside#izq ul li {
    background: #444;
    padding: 10px;
    margin: 2px 2px;
    list-style: square;
    list-style-position: inside;
}

aside#der {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 453px;
    background:rgb(39, 5, 66);

.noticias {
    width: 100px;
    height: 50px;
    align-content: center;
    margin: 10px;
    background-color: rgb(221, 191, 90);
}

/*div #top ul li {
    
        position: relative;
        margin: auto;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: medium;*/
}

.p {
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    color: aliceblue;
    text-align: center;
}