body {
    margin: 0%;
    padding: 0%;

}
nav {
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
}

.title {
    color: greenyellow;
    font-size: 24px;
}